body {
    background-color: rgb(255, 255, 255);
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
  }

h1 {
    color: rgb(255, 94, 0);
    font-weight: bolder;
  }

p {
    color: rgb(28, 28, 28);
  }

table{
  margin-left: auto;
  margin-right: auto;
  }

button, input[type=submit]{
  background-color: rgb(255, 94, 0);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: bolder;
  margin: 10px;
}

input[type=text], input[type=date]{
  margin-top: 25px;
  margin-bottom: 25px;
}

select{
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
  margin-bottom: 25px;
}