body {
    background-color: rgb(255, 255, 255);
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(255, 94, 0);
    font-weight: bolder;
}

p {
    color: rgb(28, 28, 28);
}

caption {
  font-weight: bold;
  border: 2px solid rgb(255, 94, 0);
  border-bottom: 0;
}

table, th, td{
  border-collapse: collapse;
  border: 1px solid rgb(255, 94, 0);
  width: 90%;
}

table{
  margin: 5%;
  border: 2px solid rgb(255, 94, 0);
}

#tablecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tabletitle {
  border: 2px solid blue;
  margin: 5px;
  padding: 5px;
  width: 25%;
  align-items: center;
}



button, input[type=submit]{
  background-color: rgb(255, 94, 0);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: bolder;
  margin: 10px;
}

input[type=text], 
  input[type=number], 
  input[type=date], 
  input[type=password],
  input[type=color]{
  margin-top: 25px;
  margin-bottom: 25px;
}

select{
  background-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.pie {
  --w: 150px;
  width: var(--w);
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before{
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
}