<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Subscription Addition</title>
</head>

<body>
    <h1>New Subscription</h1>
    
    <form method="post">
        <label for="pname">Subcription Name:</label>
        <input type="text" id="pname" name="pname" required>
        <br>

        <label for="date">Start Date:</label>
        <input type="date" id="date" name="date" required>
        <br>

        <label for="ptype">Budget Category:</label>
        <select name="ptype" class="Input" required>
            {% for name in budgetCategories %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <br>

        <label>Subscription Type:</label>
        <select name="stype" class="Input" required>
            {% for o in renewalTypes %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="cost">Cost: $</label>
        <input type="number" step="0.01" id="cost" name="cost" required>
        <br><br>

        <input type="submit" value="Submit">
    </form>
    <a href="/home"><button>Back</button></a>

</body>
</html>