<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Category Breakdown</title>
</head>
<body>
    <h1>Category Breakdown</h1>

    <h2>Total Budget: ${{ budgetCategory.budget }}</h2>
    <h2>Remaining Budget: ${{ budgetCategory.budgetremaining }}</h2>
    <h2>Remaining Budget Percentage: {{ budgetCategory.budgetpercent }}%</h2>

    <table>
        <tr>
            <th>Item</th>
            <th>Subscription Type</th>
            <th>Price</th>
        </tr>
        {% for item in budgetCategory.items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.renewal_type.name }}</td>
            <td>${{ item.cost }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/home"><button>Back</button></a>
</body>
</html>