<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome, {{user}}</h1>

    <a href="/createsavingsgoal"><button>Create Savings Goal</button></a>
    <a href="/paymentform"><button>Add Payment</button></a>
    <a href="/subscriptionform"><button>Add Subscription</button></a>
    <a href="/addbudgetcategory"><button>Add Budget Category</button></a>

    <h1>{{dataset}}</h1>

    
    <div id="tablecontainer">
        {% for categoryName,category in data.items() %}
            <table>
                <caption>{{ categoryName }}</caption>
                {% for payment in category[items] %}
                <tr>
                    <td>{{payment.name}}</td>
                    <td>{{payment.cost}}</td>
                </tr>  
                {% endfor %}

            </table>
        {% endfor %}
    </div>
</body>
</html>